<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enron Themed Feedback Submission</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .feedback-form {
            background-color: #fff;
            border: 2px solid #ccc;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            width: 350px;
            text-align: center;
        }
        h2 {
            color: #d34c2b;
        }
        .logo {
            margin-bottom: 20px;
        }
        .logo svg {
            max-width: 150px;
            height: 100%;
        }
        .input-box {
            width: 100%;
            height: 150px;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            resize: none; /* Disable resizing */
            box-sizing: border-box;
        }
        .submit-btn {
            background-color: #d34c2b;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .submit-btn:hover {
            background-color: #b03c1e;
        }
    </style>
</head>
<body>

<div class="feedback-form">
    <!-- Logo placeholder -->
    <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" width="439" height="433" viewBox="0 0 439 433" overflow="visible" enable-background="new 0 0 439 433" xml:space="preserve">
            <g>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#0083C6" points="0.777,216.777 55.678,161.877 86.4,192.094    75.825,202.673 57.188,183.534 47.114,193.607 65.248,212.243 55.174,222.819 36.54,204.185 22.94,217.782 42.08,236.921    31.502,246.997 0.777,216.777  "/>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#0083C6" points="97.483,203.177 111.081,217.281 91.438,258.582    91.438,258.582 122.161,227.855 133.745,239.441 78.343,294.342 65.75,281.246 84.89,238.937 54.166,270.166 42.581,258.582    97.483,203.177  "/>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#0083C6" points="234.479,340.174 248.079,353.773 227.932,395.076    227.932,395.076 258.655,364.35 270.239,375.934 215.34,430.836 202.246,417.74 221.888,375.43 190.662,406.66 179.076,395.076    234.479,340.174  "/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#0083C6" d="M90.43,306.43l54.899-55.406l11.587,11.584   c13.094,13.096,20.65,23.174,8.562,35.262c-7.557,7.553-13.6,10.072-22.162,4.025l-0.504,0.504   c6.548,6.551,5.036,11.584-3.021,19.646l-8.563,8.561c-2.52,2.52-5.542,6.047-6.044,10.072l-11.584-11.584   c0.502-4.031,3.524-7.553,6.045-9.568l9.567-9.568c4.03-4.031,1.006-11.59-1.51-13.6l-2.016-2.52l-23.672,23.672L90.43,306.43   L90.43,306.43z M133.745,285.781c6.047,6.041,11.584,7.553,17.125,2.01c5.54-5.033,4.03-10.576-2.014-17.121L133.745,285.781   L133.745,285.781z"/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#0083C6" d="M183.61,367.877c-13.096,13.096-25.184,8.057-33.245,0   c-7.553-7.553-12.592-19.646,0.505-33.24l23.67-23.174c13.099-13.096,25.187-8.561,33.245-0.498   c7.554,8.057,12.593,20.145-0.505,33.24L183.61,367.877L183.61,367.877z M159.433,349.238c-2.517,2.52-2.517,6.551,0.504,9.574   c2.518,3.018,7.052,2.514,9.067,0.504l29.716-29.719c2.518-2.016,2.518-6.545-0.504-9.064c-2.518-3.023-7.052-3.023-9.066-0.504   L159.433,349.238L159.433,349.238z"/>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#0083C6" points="429.4,216.777 373.493,160.868 373.493,160.868    260.167,273.693 271.751,285.277 373.493,183.534 406.736,216.777 258.655,364.35 270.239,375.934 429.4,216.777  "/>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#2D9C5C" points="271.751,285.277 237.5,250.52 350.322,137.7    350.322,137.7 294.418,81.291 181.09,194.614 192.674,206.199 294.418,104.458 327.157,137.7 214.332,250.52 214.332,250.52    260.167,296.861 271.751,285.277  "/>
                <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#E92A35" points="192.674,206.199 157.921,171.446 271.25,58.624    215.34,2.212 215.34,2.212 55.678,161.877 67.26,172.956 215.34,25.382 248.079,58.624 135.258,171.446 181.09,217.281    192.674,206.199  "/>
                <path fill-rule="evenodd" clip-rule="evenodd" fill="#0083C6" d="M422.349,288.295c-6.548,0-11.584-5.033-11.584-12.088   c0-7.049,5.036-12.088,11.584-12.088c6.044,0,11.08,5.039,11.08,12.088C433.429,283.262,428.393,288.295,422.349,288.295   L422.349,288.295z M422.349,291.318c8.06,0,15.111-7.049,15.111-15.111c0-8.561-7.052-15.105-15.111-15.105   c-8.563,0-15.111,6.545-15.111,15.105C407.237,284.27,413.785,291.318,422.349,291.318L422.349,291.318z M416.305,284.773h3.023   v-7.559h2.013l4.532,7.559h3.026l-4.535-7.559c3.021-0.504,4.535-2.01,4.535-4.529c0-3.527-2.019-5.039-6.047-5.039h-6.548V284.773   L416.305,284.773z M419.328,270.166h3.021c1.512,0,3.524,0,3.524,2.016c0,2.52-1.509,2.52-3.524,2.52h-3.021V270.166   L419.328,270.166z"/>
            </g>
        </svg>
    </div>

    <h2>Enron Feedback Form</h2>

    <p><%= message %></p>

    <form method="get" action="<%- endpoint %>">
        <textarea class="input-box" name="message" placeholder="Enter your feedback" required></textarea><br>
        <button type="submit" class="submit-btn">Submit</button>
    </form>
</div>

</body>
</html>
